debugpy==1.8.21
dill==0.4.1
googleapis-common-protos==1.75.0
grpcio==1.81.1
opentelemetry-api==1.43.0
opentelemetry-exporter-otlp-proto-common==1.43.0
opentelemetry-exporter-otlp-proto-grpc==1.43.0
opentelemetry-instrumentation==0.64b0
opentelemetry-instrumentation-grpc==0.64b0
opentelemetry-proto==1.43.0
opentelemetry-sdk==1.43.0
opentelemetry-semantic-conventions==0.64b0
packaging==26.2
parver==1.0
protobuf==6.33.6
pulumi==3.250.0
pulumi_aws==7.35.0
pulumi_awsx==3.6.0
pulumi_docker==4.11.2
pulumi_docker_build==0.0.20
PyYAML==6.0.3
semver==3.0.4
setuptools==83.0.0
typing_extensions==4.16.0
wheel==0.47.0
wrapt==2.2.2
